include AUTHORS ChangeLog HACKING LICENSE NEWS THANKS README
recursive-include Inventor *.i *.win32 *.fix
recursive-include fake_headers *.h
recursive-include interfaces *.i *.h
graft docs
graft examples
graft interfaces
graft pivy
graft SoPyScript
include tools/generate_pivy_stubs.py
include tools/__init__.py
include tools/validate_pivy_stubs.py
include tools/pivy_stub_validation_data.py
include tools/pivy_stub_generation_data.py
graft tests
